/* @import url("https://fonts.googleapis.com/css2family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
@font-face {
  font-family: "poppins";
  src: url("fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("fonts/poppins/Poppins-Regular.ttf");
}
* {
  font-family: "poppins", "sans-serif";
}

:root {
  --primary: #04aa6d;
  --dark: #717cb7;
  --pure: #cccccc;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
}

/* Reset basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/* Style general */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-image: url("./image/fond3.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

/* Section principal (Hero) */
.hero {
  height: 100vh; /* Plein écran */
  display: flex;
  align-items: center; /* centre verticalement */
  gap: 50px;
  height: 100vh;
  padding: 60px 9% 0;
  justify-content: center; /* centre horizontalement */
  text-align: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.9s;
}

.hero-content h1 {
  color: var(--light);
  font-size: 55px;
  margin-bottom: 10px;
}
.hero-content h1 span {
  color: var(--primary);
}
.hero-content h2 {
  display: inline-block;
  font-size: 32px;
  margin-top: -10px;
}

.hero-content h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--primary);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.hero-content h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0%;
  border-right: 2px solid var(--primary);
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.hero-content p {
  color: var(--light);
  font-size: 2rem;
  margin-bottom: 10px;
  margin: 15px 0 25px;
}

/* Bouton principal */
.hero-content .btn-sci {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3 ease;
}

.btn:hover {
  background-color: var(--primary);
  transform: scale(1.05);
}

.hero-content .btn-sci .sci {
  margin-left: 20px;
}

.hero-content .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  color: var(--primary);
  font-size: 20px;
  margin: 0 8px;
  transition: 0.5s;
}

.hero-content .btn-sci .sci a:hover {
  background-color: var(--primary);
  color: white;
}

.hero-img .img-box {
  position: relative;
  width: 38vw;
  height: 38vw;
  border-radius: 50%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img .img-box::before,
.hero-img .img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--primary)
  );
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.hero-img .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.hero-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1f242d;
  border-radius: 100%;
  border: 5px solid #1f242d;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.hero-img .img-box .img-item img {
  position: absolute;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

/* ====== Animation ====== */
.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #1f242d;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
  100% {
    transform: translateY(0%);
  }
}

/* Section service */
.service {
  padding: 60px 20px;
  text-align: center;
}

.service h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.section-heading {
  color: var(--light);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}

.section-heading span {
  color: var(--primary);
}
.service p {
  font-size: 20px;
  color: var(--light);
  margin-bottom: 30px;
}

.service .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.service .card-wrapper .card {
  height: 250px;
  border-radius: 20px;
  background-color: transparent;
  padding: 3% 8%;
  border: 0.2px solid rgba(114, 226, 174, 0.2);
  padding-top: 0.5rem;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.service .card-wrapper .card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

section.service .card-wrapper .card h3 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: white;
}
.section-heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: var(--primary);
  margin: 15px auto 0;
  border-radius: 5px;
}

section.service .card-wrapper .card h4 {
  font-size: 20px;
  margin-bottom: 1rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
}

section.service .card-wrapper .card p {
  font-size: 20px;
  line-height: 1.7;
}

section.service .card-wrapper .card:hover {
  font-size: 20px;
  background-color: transparent;
  transform: translateY(-30px);
  border-color: var(--primary);
}

section.service .card-wrapper .card:hover h3,
section.service .card-wrapper .card:hover p {
  color: white;
}

/* Section Apropos de moi*/
.about {
  padding: 60px 20px;
}

.container {
  width: 60%;
  margin: auto;
}

.container h2 {
  color: var(--light);
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  border-bottom: 2px solid var(--primary);
  width: 30%;
  border-radius: 3px;
  margin-left: 35%;
}

.container h2 span {
  color: var(--primary);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.content img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 1);
}

.text {
  color: var(--light);
  flex: 1;
}

.text h1 {
  margin-bottom: 15px;
}

.text h1 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--primary);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.text h1 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid var(--primary);
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.text p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary);
  box-shadow: 0 0 15px var(--primary);
}

/*Section contact*/
.contact {
  padding: 60px 8%;
}

.contact h2 {
  font-size: 28px;
  color: var(--light);
}
.contact h2 span {
  color: var(--primary);
}

.subtitle {
  color: var(--light);
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  gap: 40px;
}

/* FORMULAIRE */
.contact-form {
  flex: 1;
  border: 2px solid var(--primary);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Boîte des champs */
.input-box {
  position: relative;
  flex: 1;
  min-width: 48%;
}

.input-box.full {
  width: 100%;
}

/* Inputs & textarea */
.contact-form input,
.contact-form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid gray;
  color: white;
  padding: 10px 5px;
  font-size: 16px;
  outline: none;
  resize: none;
}

/* Hauteur textarea */
.contact-form textarea {
  height: 120px;
  padding-top: 20px;
}

/* LABEL (floating effect) */
.input-box label {
  position: absolute;
  left: 5px;
  top: 12px;
  color: gray;
  font-size: 14px;
  transition: 0.3s ease;
  pointer-events: none;
}

/* Animation du label */
.input-box input:focus + label,
.input-box input:valid + label,
.input-box textarea:focus + label,
.input-box textarea:valid + label {
  top: -10px;
  font-size: 12px;
  color: var(--primary);
}

/* Effet focus bordure */
.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 2px solid var(--primary);
}

/* Bouton */
.contact-form button {
  width: 100%;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #1f242d;
  transition: 0.3s ease;
}

/* Hover bouton */
.contact-form button:hover {
  background-color: transparent;
  color: var(--primary);
  box-shadow: 0 0 15px var(--primary);
}

/* INFOS */
.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.line {
  border-bottom: 1px solid var(--primary);
  width: 7%;
  border-width: 3px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.info-box {
  border: 1px solid var(--primary);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-box i {
  padding: 5px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.info-box .bx {
  font-size: 39px;
  color: var(--primary);
  padding: 5px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}

.info-box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--light);
}

.info-box p {
  margin: 5px 0 0;
  font-size: 20px;
}

/* barre de navigation */
.navbar {
  position: fixed;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  z-index: 1000;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1.2s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.navbar .logo {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.navbar .logo span {
  color: var(--primary);
  font-weight: bold;
}
.navbar ul {
  list-style: none;
  float: right;
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  margin: 10px;
  font-weight: 500;
  transition: 0.6s ease;
}

.navbar ul li a:hover {
  color: var(--primary);
  border-radius: 5px;
}

.navbar ul li.active a {
  color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
}

/*Boutton Retour*/
#retour {
  position: absolute;
  top: 90px;
  left: 20px;
  z-index: 2000;

  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 2.2s; /* plus grand que la navbar et hero */
}
.btn-retour {
  display: block;
  font-size: 20px;
  margin: 30px 10px;
  padding: 10px 20px;
  background: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-retour:hover {
  background-color: var(--primary);
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .content {
    flex-direction: column;
    text-align: center;
  }

  .service-box {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .service .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .service .card-wrapper {
    grid-template-columns: 1fr;
  }

  .service {
    padding: 40px 15px;
  }
}
